
*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}


.photo {
    position: relative;
    width: 400px;
    height: 500px;
    background-image: url(Art.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.87);
    cursor: pointer;
}
.photo .heart{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px ;
    color: white;
    opacity: 0;
}

.heart.active{
    animation: animate 0.8s linear forwards;
}


.btn{
    position: absolute;
    width: 40%;
    height: 100%;
    left: 60%;
    background-color: transparent;
    border: none;
outline: none;
    
}
.btn1{
    position: absolute;
    width: 40%;
    height: 100%;
    right: 60%;
    background-color: transparent;
    border: none;
    outline: none;
}

@keyframes animate {
    30%{
        opacity: 1;
        font-size: 80px;
    }

    50%{
        opacity: 1;
        font-size: 65px;
    }

    60%{
        opacity: 1;
        font-size: 75px;
    }
    
    80%{
        opacity: 1;
        font-size: 65px;
    } 
   
}

.share {
    font-size: 30px;
    margin: 20px 0;
    padding: 10px 0;
    background-color: brown;
    width: 400px;
}
img{
    position: relative;
    width: 30px;
    top: 4px;
    padding-left: 10px;
}
.share .save{
    padding-left: 50% ;

}
i{
    padding: 10px;
}
